<!DOCTYPE html>
<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Constructora - Empresas</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    </head>

    <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Usuario Administrador</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="usuarios.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Usuarios</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="consultarempleados.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Empleados</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="consultarempresas.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Empresas</span></a>
        </li>      

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="transacciones.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Transacciones</span></a>
        </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Usuario</span>
                    <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                </a>
                </li>

            </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Lista de empresas</h1>
            </div>

            <!-- Content Row -->
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                <label for="">NUEVO REGITRO</label>
                            </th>
                            <th scope="col">
                                <label for="">Nombre</label>
                                <input type="text" class="form-control">
                            </th>
                            <th scope="col">
                                <label for="">Nit</label>
                                <input type="text" class="form-control">
                            </th>
                            <th scope="col">
                                <label for="">Ciudad</label>
                                <input type="text" class="form-control">
                            </th>
                            <th scope="col">
                                <label for="">Dirección</label>
                                <input type="text" class="form-control">
                            </th>
                            <th scope="col">
                                <label for="">Telefono</label>
                                <input type="text" class="form-control">
                            </th>
                            <th scope="col">
                                <label for="">Sector</label>
                                <input type="text" class="form-control">
                            </th>                            
                            <th scope="col">
                                <label for="">Fecha creado</label>
                                <input type="text" class="form-control" disabled value="2022-10-10 12:00">
                            </th>   
                            <th scope="col" colspan="2">
                                <button class="btn btn-primary btn-block">
                                Nuevo registro
                                </button>
                            </th>
                        </tr>                             
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Nit</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Sector</th>
                            <th scope="col">Fecha creado</th>                        
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Empresa 1</td>
                            <td>9002500014</td>
                            <td>Bogotá D.C</td>
                            <td>Carrer 12 # 12 - 12</td>
                            <td>123456789</td>
                            <td>Norte</td>
                            <td>2022-10-01</td>
                            <td>
                                <button class="btn btn-warning" type="button">Editar</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button">Borrar</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Empresa 2</td>
                            <td>9002500014</td>
                            <td>Bogotá D.C</td>
                            <td>Calle 12 # 12 - 12</td>
                            <td>123456789</td>
                            <td>Sur</td>
                            <td>2022-10-01</td>
                            <td>
                                <button class="btn btn-warning" type="button">Editar</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button">Borrar</button>
                            </td>                        
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Empresa 33</td>
                            <td>9002500014</td>
                            <td>Medellin</td>
                            <td>Avenida 12 # 12 - 12</td>
                            <td>123456789</td>
                            <td>Norte</td>
                            <td>2022-10-01</td>
                            <td>
                                <button class="btn btn-warning" type="button">Editar</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button">Borrar</button>
                            </td>                        
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Constructora 2022</span>
            </div>
            </div>
        </footer>
        <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    </body>

</html>